<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>List User</title>
    <!--css-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <!--js-->
    <script th:src="@{/js/min.js}"></script>

</head>
<body>
<section class="container">
<table class="table table-striped">
    <h1> List User</h1>
    <a th:href="@{/index}" class="btn btn-success m-1">Home</a>
    <a th:href="@{/adduser}" class="btn btn-primary m-1">Add User</a>
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <th scope="row" th:text="${user.id}"></th>
        <td th:text="${user.name}"></td>
        <td th:text="${user.phone}"></td>
        <td th:text="${user.age}"></td>
    </tr>

    </tbody>
</table>
</section>

</body>

</html>